.Button :hover{
    -fx-border-color: red;
    -fx-background-radius: 10px;
}

.label {
     -fx-text-fill: white;
     -fx-font-family: Arial;
}

.button {
	-fx-cursor: hand;
}

.text-field {
    -fx-text-fill: white;
}

.text-area {
	-fx-text-fill: white;
}

.text-area *.content {
    -fx-background-color:  #243962;
    -fx-border-color: skyblue;
}

.menu-item {
    -fx-background-color:  #243962;
    -fx-font-size: 14px;
}

.menu-item:focused {
     -fx-background-color: skyblue;
}
